.main-banner {
  background-color: rgb(56, 46, 44);
  padding: 10% 5%;

  &-item {
    width: 100%;
    position: relative;
    overflow-x: visible;
    opacity: 0.7;
    transition: all 0.5s;
    margin: 0 5%;

    article {
      padding: 5% 10%;
      background-color: rgba($color: #000000, $alpha: 0.3);
      position: absolute;
      overflow-x: visible;
      top: 10%;

      h2 {
        color: white;
        font-size: 56px;
        transform: translateX(0%);
        transition: all 0.6s ease-in-out;
        white-space: nowrap;
        opacity: 0.7;
      }

      p {
        color: white;
        text-align: right;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 1s ease-in-out;
      }
    } //article

    &:hover {
      opacity: 1;

      h2 {
        opacity: 1;
      }

      p {
        transform: translateX(0);
        text-align: right;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .main-banner {
    display: none;
  }
}
