.brand-history {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  section {
    width: 100%;
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0;

    h1 {
      margin-left: 100px;
      font-weight: bold;
    }

    p {
      margin-left: 100px;
      margin-bottom: 50px;
    }

    img {
      display: inline-block;
    }
  }

  ul {
    width: 100%;
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
    margin-left: 100px;
    margin-top: 5px;

    li {
      text-align: center;
      white-space: nowrap;
      padding-right: 5%;
      line-height: 1.5;
      font-size: 18px;

      span {
        margin: 2rem;
        font-weight: bold;

        &::before {
          display: block;
          content: ">>";
          background-color: #ccc;
          width: 200%;
          height: 2px;
          margin-bottom: 70px;
        }
      }
    }
  }
  .historylogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    section {
      display: flex;
      justify-content: flex-start;

      img {
        width: 50%;
        max-width: 200px;
        height: 100px;
        margin-left: 100px;
        margin-top: 50px;
      }

      span {
        font-weight: bold;
      }

      p {
        margin-left: 70px;

        h2 {
          font-weight: bold;
        }
      }
    }
  } //historylogo

  .vlogo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    padding: 0 5%;
    // margin-left: 100px;

    &-items {
      width: 100%;
      margin: 2%;
      display: flex;

      h2 {
        font-weight: bold;
      }

      img {
        width: 28%;
        margin: 1%;
        height: 100%;
        object-fit: contain;
      }
    }
  } //vlogo

  .pattern-color {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20%;
    .color {
      margin-left: 10%;
    }

    div {
      h2 {
        font-weight: bold;
      }
    }
  }
}
