header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 5%;
  border-bottom: 0;
  transition: all 0.3s;
  position: absolute;
  z-index: 10;
  .fa-close {
    display: none;
  }

  #logo {
    width: 130px;
  }

  &.on .user li a {
    color: #111;
  }

  .fa-bars {
    display: none;
  }

  .header-right i {
    display: none;
  }

  nav {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 40%;
    margin: 0 auto;

    #gnb {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      z-index: 100;
      padding: 0;

      > li {
        display: inline-block;
        height: 100%;
        color: white;
        width: calc(100% / 6);
        padding: 10px 0;
        text-indent: 10px;
        white-space: nowrap;
        position: relative;
        padding-bottom: 0px;

        a {
          color: white;

          &:hover {
            color: #ea094b;
          }
        }

        &::after {
          position: absolute;
          bottom: 0;
          transition: width 0.5s ease-in-out;
          content: "";
          width: 0%;
        }

        &:hover::after {
          content: "";
          display: block;
          width: 95%;
          height: 4px;
          background-color: #ea094b;
        }

        > .sub {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.1);
          top: 41px;
          left: 0;
          width: 100%;
          height: 300px;
          padding: 0;
          display: none;
          transition: all 0.3s;
          opacity: 0;
          z-index: 20;
          // margin-left: 5%;

          &:nth-last-child(1) {
            width: 100%;
          }

          &.on {
            display: block;
            background-color: #fff;
            transition: all 0.3s;
            opacity: 1;
          }

          > li {
            position: relative;
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 1.5;
            color: #111;
            padding: 10px 0px;
            z-index: 20;
          }
        }
      }
    }
  } //nav

  .user {
    white-space: nowrap;
    li {
      display: inline-block;
      padding: 5px 10px;
      color: #555;

      a {
        color: white;
      }
    }
  }

  .ask {
    display: flex;
    justify-content: flex-end;
    li {
      display: inline-block;
      line-height: 0;
      color: rgb(98, 96, 95);
      padding: 5px 10px;
    }
  }
}

.sub-wrapper {
  position: absolute;
  z-index: 1;
  top: 100px;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  opacity: 0;
  transition: all 0.3s;

  &.on {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    opacity: 1;
    z-index: 2;
    transition: all 0.3s;
  }
}

header.on {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #eee;
  #gnb {
    li {
      color: #111;

      a {
        color: #111;
      }
    }
  }
}

.header-placeholder {
  width: 100%;
  position: relative;
  height: 100px;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

@media screen and (max-width: 1080px) {
  header {
    justify-content: space-between;
    padding: 0 2.5%;

    #gnb {
      width: 750px;
      margin-left: 10%;

      > li {
        width: 125px;
        margin: 0;
      }
    }

    .sub li {
      font-size: 12px;
    }

    .user {
      display: none;
    }

    .ask {
      display: none;
    }

    .header-right .fa-user {
      display: block;
      color: #fff;
    }

    &.on {
      .header-right .fa-user {
        color: #111;
      }

      .fa-bars {
        color: #111;
      }
    }

    #gnb {
      padding: 0;

      li {
        line-height: 0;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  header {
    background-color: #444;

    nav {
      width: 120%;
      position: fixed;
      height: 100%;
      display: flex;
      top: 0;
      left: 0;
      background-color: #fff;
      box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
      z-index: 1000;

      #gnb {
        position: fixed;
        left: 50%;
        height: 50%;
        width: 50%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        z-index: 1000;

        li:nth-child(1) {
          text-align: right;
          width: 100%;
          z-index: 1000;
        }

        .fa-close {
          display: block;
          color: #111;
          cursor: pointer;
          margin-right: 10px;
        }

        li {
          width: 100%;
          color: #111;
          height: 50%;
          padding: 20px 0;
          border-bottom: 1px solid #ddd;
        }
      }
    }
    .fa-bars {
      display: block;
      color: #fff;
      cursor: pointer;
    }
  }

  header nav #gnb > li > .sub {
    display: none;
  }

  header nav #gnb > li > .sub.on {
    display: none;
  }

  .sub-wrapper {
    display: none;
  }
}
