main {
  width: 100%;
  position: relative;
}

.main {
  position: relative;
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  background-image: url("../../public/image/mainbg0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 50%;

  p {
    color: white;
  }

  article {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      display: block;
      font-size: 72px;
      color: white;
      transform: scale(1);
      padding: 10px 20px;
    }

    p {
      color: white;
      padding: 10px 20px;
    }

    a {
      color: white;
      display: block;
      width: 30%;
      padding: 10px 20px;
      text-transform: uppercase;
      border: 1px solid #fff;
      text-align: center;
      transition: all 0.3s;
      margin-left: 20px;

      &:hover {
        background-color: #fff;
        color: #311;
      }
    }
  }
}

.main2 {
  background-image: url("../../public/image/mainbg1.jpg");
  p {
    color: #311;
  }

  article {
    h1 {
      color: #311;
    }

    p {
      color: #311;
    }

    a {
      color: #311;
      border: 1px solid #311;

      &:hover {
        background-color: #311;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .main2 {
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .main {
    margin-top: 100px;
    min-height: 12vh;
    background-size: cover;

    article {
      width: 100%;
      min-height: 200px;

      h1 {
        font-size: 24px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
      }

      a {
        font-size: 12px;
        padding: 5px 10px;
        width: 50%;
      }
    }
  }
}
