.sortitems {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    margin-bottom: 0;
    padding : 10px 0;
    
    li {
      display: inline-block;
      padding: 0 40px;
      font-size: 18px;
      text-align: center;
      margin: 0px 10px;
      cursor: pointer;

      &::after {
        content: '';
        width: 0%;
        display: block;
        height: 4px;
        background-color: transparent;
        transition: all 0.5s;
      }

      &:hover {
        color : #EA094B;
      }
      
      &:hover::after {
        background-color : #EA094B;
        width: 100%;
      }
    }
  }
}

.card {
  cursor: pointer;

  .card-title {
    font-weight: bold;
  }
}

.cate {
  position: absolute;
  top: 1rem;
  padding: 8px 16px;
  color: white;
  background-color: #EA094B;
  opacity: 0.5;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}