.sortitems {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 70%;
    margin-bottom: 0;
    padding: 10px 0;

    li {
      width: (100% / 5);
      height: 100%;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      cursor: pointer;

      &::after {
        content: "";
        position: relative;
        top: 10px;
        width: 0%;
        display: block;
        height: 4px;
        background-color: transparent;
        transition: all 0.5s;
      }

      &:hover {
        color: #ea094b;
      }

      &:hover::after {
        background-color: #ea094b;
        width: 100%;
      }
    }
  }
}

.card {
  cursor: pointer;

  .card-title {
    font-weight: bold;
  }
}

.cate {
  position: absolute;
  top: 1rem;
  padding: 8px 16px;
  color: white;
  background-color: #ea094b;
  opacity: 0.5;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1080px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }

  .sortitems {
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}
