* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

body * {
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #382e2c;
}
