* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

body * {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-size: 14px;
}