.swiper-button-next {
  color: #555;
  z-index: 100;
}
.swiper-button-prev {
  color: #555;
  z-index: 100;
}

.swiper-pagination {
  &-fraction {
    width: 100%;
    bottom: 20%;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-align: right;
    padding-right: 5%;
  }

  &-current {
    font-size: 30px;
  }
}

.swiper {
  z-index: 0;
}

.swiper-slide {
  a {
    width: 100%;
    display: block;
  }
}
